@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Heebo:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----Navigation Bar-----*/
nav{
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 3rem;
    padding: 1rem 0 1rem 3rem;
}
.desktop-nav{
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 3rem;
}
nav .logo{
    display: grid;
    align-content: center;
}
.logo > img{
    width: 12.5rem;
}
.mobile-nav{
    display: none;
}
.hamburger{
    display: none;
}
.hamburger > div{
    width: 28px;
    height: 3px;
    background-color: #1C2022;
    margin: 3px; 
}
nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr max-content;
    align-content: center;
    font-family: 'Barlow', Arial;
}
nav ul li{
    display: inline;
    padding: .5rem;
    width: 100%;
}
nav ul li a{
    text-transform: uppercase;
    font-size: .9rem;
    font-style: italic;
    text-decoration: none;
    font-weight: bolder;
    color: #1C2022;
}
nav ul li a > span{
    font-style: normal;
    background-color: #3E54A3;
    border-radius: 2px;
    margin-left: 6.9px;
    padding: 4px 8px 4px 11px;
    letter-spacing: 2px;
    color: white;
    font-size: 11.04px;
}
#log-in-with-github{
    font-style: normal;
    text-transform: none;
    font-weight: bold;
    background-color: #24292E;
    color: white;
    padding: 10px 23px;
    border-radius: 20px;
    width: 1rem;
    
}
#log-in-with-github > i{
    font-size: 1.1rem;
    margin-left: .2rem;
}
/*-----Challenge-----*/
.challenge{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding-left: 2rem;
    font-family: 'Barlow' sans-serif;
}
.challenge h3{
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1.2rem 2rem;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    width: 15%;

}

/*-----Main Content-----*/
 main{
     font-family: 'Heebo';
     padding: 3rem 2rem;
 }
main .section-1{
    display: grid;
    grid-template-columns: 6fr 5fr;
    gap: 3.5rem;
}
.calculator-div{
    font-family: 'Barlow', sans-serif;
}
.calculator-div > img{
    width: 100%;
}
.calculator-div > ul{
    /* display: grid;
    grid-template-columns: auto auto auto;
    gap: 0; */
    display: flex;
    list-style: none;
    margin: 20px 0;
}
.calculator-div ul li button{
    text-transform: uppercase;
    margin-right: .7rem;
    font-size: .76rem;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    font-style: italic;
    background-color: #DBE5E6;
    color: #737373;
    border: none;
}
#desktop-design-button{
    color: #FFFFFF;
    background-color: #3E54A3;
}

.calculator-features header{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.calculator-features header > div{
    display: flex;
}
.calculator-features div ul{
    display: flex;
    justify-content: start;
    list-style: none;
}
.calculator-features .features-heading > p{
    margin-right: .7rem;
    padding: 2.5px 12.5px;
    border-radius: 10px;
    background-color: #E7EBF9;
    font-size: .8rem;
    font-weight: 999;
    letter-spacing: 2px;
    color: #3E54A3;
    font-family: 'Heebo', sans-serif;
}
.features-heading > ul li span{
    margin-right: .6rem;
    font-size: .9rem;
    font-weight: bold;
    font-family: 'Heebo' !important;
} 
.calculator-features header .level > p{
    font-size: .9rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #AAD742;
    padding: .3rem .5rem;
}
.calculator-features header .level > span{
    font-size: .9rem;
    border: 1px solid #AAD742;
    font-weight: bold;
    padding: .3rem .7rem;
}