*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-rows: 1fr max-content;
    gap: 2rem;
    justify-content: center;
    margin: 5rem auto;
    padding: 2rem 0;
    /* width: 80%; */
}
.header{
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.5rem;
}
.calculator{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid; */
    gap: 1rem;
    padding: 1rem;
}
.icon{
    position: relative;
    top: 2rem;
    left: .7rem;
    color: gray;
    font-size: .8rem;
}
.left{
    display: grid;
    grid-template-rows: 1f1 1fr max-content;
    gap: 1rem;
}
.left span{
    font-size: .9rem;
}
.left input{
    padding: .3rem;
    margin-top: .4rem;
    /* text-indent: 100%; */
    width: 100%;
}
.calculator .left .select-tip .tip-options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: .5rem;
}
.calculator .left .select-tip .tip-options > button{
    padding: .3rem 1rem;
    cursor: pointer;
}



.right{
    padding: .8rem;
    /* border: 1px solid; */
}
.right span{
    font-weight: initial;
    font-size: .9rem;
}
.right .tip-amount, .right .total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.right .reset-button{
    display: grid;
}
.right .reset-button button{
    width: 100%;
    padding: .5rem 0;
    margin-top: 3.9rem;
}